/* Указываем box sizing */
*, *::before, *::after {
  box-sizing: border-box;
}
/* Убираем внешние отступы */
body, h1, h2, h3, h4, p{
  margin: 0;
}
a {
  color: unset;
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}

@font-face {
  font-family: 'Futura PT Bold';
  src: url('../fonts/FuturaPT-Bold.eot');
  src: url('../fonts/FuturaPT-Bold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaPT-Bold.woff') format('woff'),
  url('../fonts/FuturaPT-Bold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT Light';
  src: url('../fonts/FuturaPT-Light.eot');
  src: url('../fonts/FuturaPT-Light.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaPT-Light.woff') format('woff'),
  url('../fonts/FuturaPT-Light.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'Futura PT ExtraBold';
  src: url('../fonts/FuturaPT-ExtraBold.eot');
  src: url('../fonts/FuturaPT-ExtraBold.eot?#iefix') format('embedded-opentype'),
  url('../fonts/FuturaPT-ExtraBold.woff') format('woff'),
  url('../fonts/FuturaPT-ExtraBold.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}

$color-headers: #A89365;
.wrapper {
  width: 100%;
}
.container {
  max-width: calc(100vw - 177px);
  margin: 0 auto;
}
//Стили для карусели
.carousel {
  &__header {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    color: $color-headers;
    text-transform: uppercase;
    margin-bottom: 40px;
    align-items: flex-end;
    padding: 0 20px;
  }
  &__title {
    font-family: 'Futura PT ExtraBold';
    font-size: 48px;
    font-weight: 800;
    line-height: 100%;
  }
  &__link {
    font-family: 'Futura PT Light';
    &::after {
      content: '\2192';
    }
  }
  &__body {
    margin-bottom: 40px;
    position: relative;
  }
  &__cart-container {
    display: flex;
    overflow: hidden;
    justify-content: space-between;
    margin-bottom: 20px;
  }
  &__footer {
    display: flex;
    justify-content: center;
  }
  &__btn {
    cursor: pointer;
    text-transform: uppercase;
    border: 1px solid $color-headers;
    background-color: $color-headers;
    color: #ffffff;
    font-family: "Futura PT Light";
    font-size: 18px;
    line-height: 23px;
    padding: 18.5px 62.5px;
    transition: all .3s ease-in-out;
    &:hover {
      background-color: #ffffff;
      color: $color-headers;
      border-color: #ffffff;
    }
    &_white {
      background-color: #ffffff;
      color: $color-headers;
      margin-right: 25.5px;
      &:hover {
        background-color: $color-headers;
        color: #ffffff;
      }
    }
  }
}
//Стили для элементов карусели
.cart-item-wrapper {
  padding: 0 20px;
}
.cart-track {
  display: flex;
  width: 100%;
  justify-content: space-between;
  transition: all .3s ease-in-out;
}
.cart-item {
  min-width: 270px;
  &__img {
  overflow: hidden;
    img {
      min-width: 270px;
      width: 100%;
      height: 100%;
      object-fit: contain;
    }
  }
  &__title {
    font-family: "Futura PT Bold";
    color: $color-headers;
    font-size: 30px;
    margin-bottom: 20px;
  }
  &__text {
    font-family: "Futura PT Light";
    font-size: 20px;
    line-height: 30px;
  }
}
//Стили для стрелок навигации
.arrow {
  position: absolute;
  cursor: pointer;
  top: 236px;
  content: '';
  width: 32px;
  height: 32px;
  border-top: 2px solid $color-headers;
  border-right: 2px solid $color-headers;
  &_right {
    right: -2%;
    transform: rotate(45deg);
  }
  &_left {
    left: -2%;
    transform: rotate(-135deg);
  }
}
//Стили для точек навигации
.navigate {
  display: flex;
  justify-content: center;
  &__circle-container {
    display: flex;
    justify-content: space-between;
  }
  &__circle {
    cursor: pointer;
    width: 12px;
    height: 12px;
    border-radius: 50%;
    background-color: #f2f2f2;
    margin-right: 20px;
    &:last-child {
      margin-right: 0;
    }
    &_active {
      background-color: $color-headers;
    }
  }
}
//media
@media (max-width: 1330px) {
  .container {
    max-width: calc(100vw - 80px);
  }
}
@media (max-width: 566px) {
  .carousel__title {
    margin-bottom: 10px;
  }
}
@media (max-width: 920px) {
.cart-item-wrapper {
  padding: 0 10px;

}
  .carousel {
    &__header {
      padding: 0 10px;
    }
    &__footer {
      flex-direction: column;
      padding: 0 10px;
    }
    &__btn {
      text-align: center;
      &_white {
        margin: 0 0 20px 0;
      }
    }
  }
}
@media (max-width: 1240px) {
  .container {
    max-width: calc(100vw - 20px);
  }
  .arrow {
    display: none;
  }
}
@media (max-width: 1280px) {
  .arrow {
    top: 184px;
    width: 16px;
    height: 16px;
  }
  .carousel__header {
    &__title {
      padding: 0 10px;
      font-size: 32px;
    }
    &__link {
      font-size: 18px;
    }
  }
  .cart-item {
    &__title {
      font-size: 24px;
      line-height: 24px;
    }
    &__text {
      font-size: 16px;
      line-height: 24px;
    }
  }
}